@model FinanceApplication.Models.entity

@{
}
<form method="post" action="Add" class="mt-5">
    @Html.DropDownListFor(model => model.FirstName, GetFieldOptions(), new { @class = "form-control" })
    @foreach (var entity in entity)
    {
        <tr>
            <td>@entity.FirstName</td>
            <td>@entity.LastName</td>
            <td>@entity.Description</td>

        </tr>

    };
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

