@model FinanceApplication.Models.domain

@{
}
<a href="../AddDomain"> View Existing Domains</a>

<form method="post" action="Add" class="mt-5">

    <br />

    <div class="form-group">
        <label for="descriptionofentity">The Name of domain</label>
        <input type="text" asp-for="Name" class="form-control" id="nameofentity" placeholder="Enter the Domain">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
